#bigContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5051;
  pointer-events: none;
}
#mediumContainer {
  left: 0px;
  top: -150px;
  height: calc(100vh + 200px);
  overflow: hidden;
  position: relative;
}
#smallContainer {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}
